# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
environment/
venv/
.env/
.venv/

# Distribution / Packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Model Checkpoints
*.zip

# Temporary Files
*.tmp
*.temp

# Python Environment Files
.python-version
